<%= render "composants/navbar" %>
<div class="container">
  <div class="dashboard-title">
    <div class="dashboard-party-infos">
      <h1>L'apo de Nico</h1>
      <span>Crée le 24.02.2022</span>
    </div>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>avec icone</a>
  </div>
</div>
