<%= render "composants/navbar" %>

<div class="container rules-container">
  <div class="row">
    <div class="col s12">
      <h1>Règles du Jeu</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>QU'EST-CE QU'UN JEU DE RÔLE SUR TABLE ?</h2>
      <br>
      <p>1. <strong>EN TANT QUE MAÎTRE DU JEU :</strong></p>
      <p>Le jeu est dirigé par un maître du jeu (MJ), qui guide l'histoire et joue les personnages non-joueurs (PNJ). Le MJ est responsable de créer le monde du jeu, de décrire l'environnement et les événements, et de jouer les rôles de tous les personnages avec lesquels les personnages des joueurs interagissent. Le travail du MJ est de rendre le monde du jeu immersif et crédible, et de fournir des défis et des obstacles aux joueurs pour les surmonter. <br>
      DONNEZ VIE À VOTRE MONDE ! En tant que MJ, vous décrivez les scènes et les environnements, les personnages non-joueurs, et les défis auxquels les joueurs feront face. WM42 crée un monde de jeu détaillé et captivant, avec une variété de lieux, de personnages et d'obstacles. <br>
      Vous pouvez décrire un donjon sombre et effrayant, peuplé de monstres dangereux et gardé par des pièges et des énigmes, avec des incantations étranges provenant du sommet de la plus haute tour. <br>
      La seule limite est votre imagination !</p>
      <p>2. <strong>EN TANT QUE JOUEURS :</strong></p>
      <p>Dans un jeu de rôle sur table (RPG), les joueurs incarnent des personnages fictifs dans un monde imaginaire partagé. Cela signifie que les joueurs créent leurs propres personnages, incluant leur apparence, leur personnalité, leur histoire et leurs compétences. Ils utilisent ces personnages pour interagir avec le monde du jeu et les autres personnages. <br>
      Les joueurs prennent tour à tour la parole pour décrire ce que leurs personnages font, et le MJ répond avec le résultat de ces actions. C'est là que les joueurs peuvent faire preuve de créativité et trouver des façons intéressantes et amusantes pour leurs personnages d'interagir avec le monde du jeu. Ils pourraient essayer de convaincre un PNJ de les aider, ou tenter de crocheter une serrure ou désamorcer un piège. Le MJ détermine alors le résultat de ces actions en fonction des règles du jeu et de la situation.</p>
      <p>3. <strong>ACTIONS :</strong></p>
      <p>Pour déterminer le résultat des actions, les joueurs lancent des dés et ajoutent des modificateurs en fonction des compétences et autres facteurs de leurs personnages. La plupart des RPG sur table utilisent des dés à différents nombres de faces (par exemple, un dé à 20 faces ou un dé à 6 faces), et les joueurs lancent les dés pour voir s'ils réussissent ou échouent à une action particulière. Par exemple, un joueur pourrait lancer un dé à 20 faces et ajouter son modificateur de force pour voir s'il soulève avec succès un objet lourd.</p>
      <p>4. <strong>JEU :</strong></p>
      <p>Le jeu est généralement ouvert et encourage les joueurs à explorer et interagir avec le monde de manière créative. Il n'y a pas d'histoire ou de fin prédéfinie au jeu - au lieu de cela, les joueurs et le MJ travaillent ensemble pour créer une expérience unique et mémorable. Les joueurs peuvent aller dans n'importe quelle direction qu'ils souhaitent, et le MJ adaptera le monde du jeu et les défis en fonction de leurs choix. </p>
      <p>5. <strong>OBJECTIF :</strong></p>
      <p>L'objectif ultime du jeu est de s'amuser et de raconter une histoire captivante ensemble. Bien qu'il puisse y avoir des objectifs ou des quêtes spécifiques pour les personnages à accomplir, le véritable but du jeu est de passer un bon moment et d'apprécier l'expérience de jouer ensemble. Les joueurs peuvent rire, stratégiser, ou vivre des moments de tension ou d'excitation alors qu'ils explorent le monde du jeu et interagissent les uns avec les autres.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <h2>CE QUE FAIT WM42</h2>
      <br>
      <p><strong>GAIN DE TEMPS</strong></p>
      <p>La création d'un contenu de jeu détaillé et captivant peut être un processus long, en particulier pour les Maîtres du Jeu moins expérimentés. WM42 génère du contenu en fonction de vos exigences et vous permet de vous concentrer sur d'autres aspects du jeu.</p>
      <p><strong>INSPIRATION</strong></p>
      <p>WM42 vous offre une excellente source d'inspiration et vous aide à garder votre monde de jeu frais et excitant. Il peut générer un folklore unique et intéressant, des cartes, des personnages, des armes et des races auxquels vous n'auriez peut-être pas pensé.</p>
      <p><strong>NARRATION COHÉRENTE :</strong></p>
      <p>WM42 aide à garantir que votre monde est cohérent et cohérent. Tout s'emboîte logiquement et votre monde semblera beaucoup plus réel !</p>
    </div>
    <div class="col s12 m12">
      <h2>CE QUE WM42 NE FAIT PAS (ENCORE 😃)</h2>
      <br>
      <p><strong>FAIRE FONCTIONNER LE JEU POUR VOUS</strong></p>
      <p>WM42 n'est pas le Maître du Jeu ; VOUS l'êtes ! WM42 fournit une excellente base pour le monde que vous avez en tête. Votre rôle en tant que MJ est de le rendre réel pour vos aventuriers ! Décrivez les environnements, les créatures, les armes avec autant de détails que possible. <br>
      Soyez créatif ! Plus il y a de détails, plus votre monde sera crédible et plus vous vous amuserez avec vos aventuriers !</p>
      <p><strong>AJOUTER DE NOUVEAUX ÉLÉMENTS EN COURS DE JEU</strong></p>
      <p>Une fois que vous avez créé votre monde, vous êtes prêt à partir ! Si vous souhaitez ajouter plus d'éléments à votre monde (races, armes, etc.), veuillez noter qu'ils n'apparaîtront pas dans vos paramètres de session où tous les détails de votre monde sont répertoriés. <br>
      Il est possible (et encouragé) de le faire, mais pour l'instant vous devrez le faire à l'ancienne en les écrivant quelque part pour ne pas les oublier ! Le bon vieux stylo et la feuille de papier sont toujours utiles</p>
    </div>
  </div>
</div>
