<%= render "composants/navbar" %>

<div class="container rules-container">
  <div class="row">
    <h1>Règles du Jeu</h1>
  </div>
  <div class="row">

  <p>1. AS A GAME MASTER : the game is led by a game master (GM), who guides the story and plays the non-player characters (NPCs). The GM is responsible for creating the game world, describing the environment and events, and playing the roles of all the characters that the players' characters interact with. The GM's job is to make the game world feel immersive and believable, and to provide challenges and obstacles for the players to overcome. <br>

MAKE YOUR WORLD ALIVE ! As the GM, you set the scene and describe the environments, non-player characters, and challenges that the players will face. WM42 creates a detailed and engaging game world, with a variety of locations, characters and obstacles. <br>

You may describe a dark and spooky dungeon, populated by dangerous monsters and guarded by traps and puzzles, with strange incantation noises coming from the top of the highest tower. <br>
The only limit is your imagination ! <br>
<br>
2. AS PLAYERS : in a tabletop roleplaying game (RPG), players take on the roles of fictional characters in a shared imaginary world. This means that players create their own characters, including their appearance, personality, backstory, and abilities. They use these characters to interact with the game world and other characters in the game. <br>

Players take turns describing what their characters do, with the GM responding with the outcome of those actions. This is where the players get to be creative and come up with interesting and fun ways for their characters to interact with the game world. They might try to convince an NPC to help them, or they might attempt to pick a lock or disable a trap. The GM then determines the outcome of these actions based on the rules of the game and the situation at hand. <br>
<br>
3. ACTIONS : to determine the outcome of actions, the players roll dice and add modifiers based on their character's abilities, skills, and other factors. Most tabletop RPGs use dice with different numbers of sides (e.g., a 20-sided die or a 6-sided die), and players roll the dice to see whether they succeed or fail at a particular action. For example, a player might roll a 20-sided die and add their character's strength modifier to see if they successfully lift a heavy object. <br>
<br>
4. GAME : the game is typically open-ended and encourages players to explore and interact with the world in creative ways. There is no set story or ending to the game - instead, the players and GM work together to create a unique and memorable experience. The players can go in any direction they want, and the GM will adapt the game world and challenges to suit their choices. <br>
<br>
5. GOAL : the ultimate goal of the game is to have fun and tell an engaging story together. While there might be specific objectives or quests for the characters to complete, the real purpose of the game is to have a good time and enjoy the experience of playing together. Players might laugh, strategize, or experience moments of tension or excitement as they explore the game world and interact with each other.</p>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <h2> WHAT WM42 DOES </h2>
      <p>- Saves time : Creating a detailed and engaging game content can be a time-consuming process, particularly for less experienced Game Masters. WM42 generates content according to your requirements and allows you to focus on other aspects of the game. <br>
- Inspire : WM42 provides you a great source of inspiration and helps keeping your game world fresh and exciting. It can generate unique and interesting lore, maps, characters, weapons, and races that you may not have thought of. <br>
- Consistent background : WM42 helps to ensure that your world is consistent and coherent. Everything fits together logically and your world will feel much more real !</p>
    </div>
    <div class="col s12 m6">
      <h2>WHAT WM42 DOES NOT DO (yet 😃)</h2>
      <p>- Run the game for you : WM42 is not the Game Master ; YOU are ! WM42 provides a great basis for the world you have in mind. Your role as a GM is to make it real for your adventurers ! Describe environments, creatures, weapons with as much detail as you can.<br>
Be creative ! The more detail there is, the more believable your world will be and the more fun you will have with your adventurers
<br>
- Add new elements mid-session : Once you’ve created your world, you’re good to go !
If you want to add more elements to your world (races, weapons, etc), please note that they will not appear in your session settings where all the details of your world are listed.
<br>
It is possible (and encouraged) to do so, but for now you will have to do this the old-fashioned way by writing them down somewhere so that you do not forget them ! The good old pen & sheet of paper are always useful</p>
    </div>
  </div>
</div>
