<%= render "composants/navbar" %>
<div class="container">
  <div class="dashboard-title">
    <div class="dashboard-party-infos">
      <h1>L'apo de Nico</h1>
      <span>Crée le 24.02.2022</span>
    </div>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>avec icone</a>
  </div>


  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">
      <span class="nav-bible" id="nav-bible"><i class="fa-regular fa-star nav-star"></i>Bible</span>
      <span class="nav-map" id="nav-map"><i class="fa-regular fa-star nav-star"></i>Map</span>
      <span class="nav-players" id="nav-players"><i class="fa-regular fa-star nav-star"></i>Players</span>
      <span class="nav-active" id="nav-weapons"><i class="fa-solid fa-star nav-star"></i>Weapons</span>
      <span class="nav-pnj" id="nav-pnj"><i class="fa-regular fa-star nav-star"></i>PNJ</span>
    </div>
  </div>
