<div class="row header_parties title">
  <div class="col s12 bible">
    <div class="col s9">
      <div class="row">
        <h1><%= @party.name %></h1>
      </div>
      <div class="row">
      <h6>Party crée le <%= @party.created_at.strftime("%d/%m/%Y")  %></h6>
      </div>
    </div>

    <div class="col s3 icon_container center-align valign-wrapper">
        <a onclick="M.toast({html: 'Je suis une petite blagounette'})" ><i class="material-icons dp48">local_florist</i></a>
    </div>
  </div>
</div>
