<div class="row header_parties title">
  <div class="col s12">
    <h1><%= @party.name %></h1>
  <h6>Partie crée le <strong><%= @party.created_at.strftime("%d/%m/%Y")  %></strong></h6>
  </div>
</div>
