<%# <nav class="primary_bg gold_text-light" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav primary_bg gold_text-light">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav> %>
<div class="row" id="navbar">

    <ul id="dropdown1" class="dropdown-content text-glighten">

      <li><%= link_to "Game Rules", game_rules_pages_path %></li>
      <li><a href="">My Account</a></li>
      <li class="divider"></li>
      <li><%= link_to "Sign Out", sign_out_path, :method => :delete %></li>
    </ul>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href=" " class="brand-logo">WM</a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="dropdown-trigger" href="" data-target="dropdown1">
                <%# <i class="material-icons right drop-arrow">arrow_drop_down</i> %>
              <div class="chip">
                <img src="https://res.cloudinary.com/dlixoduzo/image/upload/v1678200826/Gaston_LeYeti_loutre_qui_joue_de_lhamonica_39c2c097-b838-4000-b89b-72c8da453b71_ngkmyz.png" alt="Contact Person" class="loutre_harmoniciste">
                <% if current_user %>
                <%= current_user.username %>
                <% else %>
                <%= "Guest" %>
                <% end %>
              </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
