.btn,
.btn-small,
.btn-large
  background-color: $primary-color !important
  color: $shine-color-light !important
  border-radius: 5px
  transition: .3s
  &:hover
    background: linear-gradient(0.15turn, $primary-color, $dark-primary-color)
    transform: scale(1.02)
    color: $shine-color-dark !important
    transition: .3s
    i
      color: $shine-color-dark !important
  i
    color: $white-color !important
