.btn,
.btn-small,
.btn-large
  background-color: $primary-color !important
  color: $shine-color-light !important

.btn:hover,
.btn-small:hover,
.btn-large:hover
  background-color: $primary-color-light!important
  color: $shine-color-dark !important
