.object-card-container
  background-color: $background-color
  color: #FFF
  border: .4px solid $background-color-30
  .card-image
    padding: 0
  .object-card-content
    padding: 5px 5px 0 5px
    margin-left: 25px
    .row
      margin: 5px 0
      .weapon-lvl
        background-color: $gold-color
        border-radius: 5px
        margin-right: 10px
        margin-left: 10px
        padding: 5px
      .weapon-rarity
        margin-right: 10px
        padding: 5px
      .object_name
        font-weight: 600
        margin-left: 10px
        color: $background-color-30
      .fa-coins
        margin: 0 5px 0 0
        padding: 0 5px 0 0
        color: $gold-color
        margin-left: 10px
      .weapon-price
        color: $gold-color
