.creature_description {
  font-size: 12px!important;
  color: $background-color-30;
}
.creature_name {
  color: $background-color-30;
  font-weight: bold;

}
.creature-universe {
  color: $background-color-30;
  font-weight: bold;
}
#creature-cards-container{
  .object-card-content{
    min-height: 150px;
  }
}
.creature-lvl {
  background-color: $gold-color;
  border-radius: 5px;
  // padding: 2px 2px;
  text-align: center;

  color: $background-color;
  width: 25%;

}
