// $primary-color

// Card Party
// -------------------------


.card_party
  background-color: $background-color-70 !important
  // border: 0.1rem solid $shine-color
  background-image: $gradiant-primary-color
  border-radius: 5px
  transition: .3s all
  border: 1px solid rgba(255, 255, 255, 0.05)
  &:hover
    border: 1px solid rgba(255, 255, 255, 0.15)
    transition: .3s all
    transform: scale(1.05)
  .pils_content
    display: flex
    gap: 12px
    .pils
      gap: 4px
      display: flex
      background-color: #C09B2F
      border-radius: 5px
      margin-right: 0px
      margin-left: 5px
      padding: 5px
      font-size: 14px
      align-items: center
      width: fit-content
      color: $background-color-70
      &:first-child
        margin-left: 0px
      i
        color: $background-color-70
        font-size: 12px
  .card-image
    .btn-floating
      &.primary_bg
        background-color: $primary-color !important
        i
          color: $shine-color !important
          font-size: 2rem
  .card-content
    .card-title
      // text-shadow: 0 0 4px #333,  0 0 6px #223, 0 0 8px #003
      font-family: 'Tilt Warp', cursive
      line-height: 1.1
      color: $shine-color
    blockquote
      color: $shiny-shine-color
      opacity: .6

.txt_xs
  font-size: 12px
