.object-card-container
  background-color: $background-color
  color: #FFF
  .card-image
    padding: 0
    img
      height: 100%
      width: 100%
      object-fit: cover
  .object-card-content
    padding: 5px
    margin-left: 25px
    .row
      margin: 5px
      &.weapon_logic_infos
        div
          padding: 0
          margin: 0
          text-align: center
      .weapon-lvl
        background-color: $gold-color
        border-radius: 5px
        margin-right: 0px
        margin-left: 10px
        padding: 2px 2px
        text-align: center
      .weapon-rarity
        margin: 5px
        padding: 5px
        i.commun
          color: #AAA
        i.rare
          color: #ffb700
        i.epique
          color: #dc25dc
        i.legendary
          color: #73df20
      .object_name
        font-weight: 600
        margin-left: 10px
        color: $background-color-30
      .fa-coins
        margin: 0 5px 0 0
        padding: 0 5px 0 0
        color: $gold-color
        margin-left: 10px
      .weapon-price
        color: $gold-color


.object_lootable
  color: $gold-color
  font-size: 12px
  padding: 10px
