.creature_description {
  font-size: 12px!important;
  padding-top: 6vh;
}
.creature_name {
  color: $gold-color;
  font-weight: bold;
}
.creature-universe {
  color: $background-color-30;
  font-weight: bold;
}

.creature-lvl {
  color: $background-color-30;
  padding-left: 5px;
}
