.pnj-card-container {
  margin-top: 10px;
  padding: 0;
  background-color: $background-color-30;



  .pnj-card-content {
    padding: 0;
    padding-left: 20px;
  }
  .card-image {
    padding: 0;
    object-fit: fill;
    white-space: nowrap;

  }

  .row {
    margin: .4rem;
  }



  .pnj_name {
    font-weight: bold;
  }
}


.pnj-card-container:hover {
  box-shadow: 0 0 0 0.2rem $gold-color;
  transition: box-shadow 0.5s;

}

.search-bar {
  background-color: $background-color-30;
  margin-left: 1.3vh!important;
}

