.pnj-card-container {
  margin-top: 10px;
  padding: 0;
  background-color: $background-color;



  .pnj-card-content {
    padding: 0;
    padding-left: 8px;
    color: $background-color-30;
  }
  .card-image {
    padding: 0;
    object-fit: fill;
    white-space: nowrap;

  }

  .row {
    margin: .4rem;
  }



  .pnj_name {
    font-weight: bold;
  }
}


.pnj-card-container {
  transition: 0.4s;
}

.pnj-card-container:hover {
  box-shadow: 0 0 0 0.2rem $gold-color;
  transition: 0.8s;
  cursor: default;
  scale: 1.1;

}

.search-bar {
  background-color: $background-color-30;
  margin-left: 1.3vh!important;
}

.pnj_job {
  white-space: nowrap;
}
