.header_parties {

  .col {
    display: flex;
    gap:24px;
    align-items: flex-end;

    h6 {
      font-size:14.5px;
      color:$white-color;
      opacity: .5;
    }
  }

  .icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: relative;
    top: 8.5vh;

      .dp48 {
        font-size: 36px;
      }
    }
  h1 {
    font-size: 64px!important;
    margin:0;
    letter-spacing: 1px;
  }
  h6 {
    color: $shiny-shine-color;
  }
}
