.row_map
  width: 100%
  margin: 0 auto
  .bible
    .row
      h2
        color: $shiny-shine-color !important
        i
          color: $shiny-shine-color !important
  .map_content
    text-align: center
    div
      display: inline-block
  .cities_title
    h2
      font-size: 1.2em
      font-weight: bold
.row_map-city
  padding-left: 5px!important
  margin: 0 auto!important
