.nav-dashboard
  background-color: $background-color
  margin: 24px 0 0 0
  color: $background-color-30

  .nav-dashboard-tabs
    display: flex
    gap: 32px
  .nav-star
    margin: 3px 6px 3px 0px
    padding: 3px 2px 3px 1.5px

  .nav-active
    color: #FFF
    padding: 0 0 4px 0
    border-bottom: 3px solid $primary-color
    .fa-solid
      color: $primary-color
      margin: 3px 6px 3px 0px
      padding: 3px 2px 3px 1.5px
