nav.gold_text-light
  a
    color: $shine-color-light
    &:hover
      color: $shine-color-light
.sidenav.gold_text-light
  a
    color: $shine-color-light !important
    &:hover
      color: $shine-color-light
