.nav-dashboard
  background-color: $background-color
  color: $background-color-30
  .nav-star
    margin: 3px 2px 3px 1.5px
    padding: 3px 2px 3px 1.5px
  .nav-weapons
    color: #FFF
    border-bottom: 1.6px solid $primary-color
    .fa-solid
      color: $primary-color
      margin: 3px 2px 3px 1.5px
      padding: 3px 2px 3px 1.5px
