.nav-wrapper
  background-color: $background-color
  color: $background-color-30
nav
  background-color: $background-color !important
  color: $background-color-30
  ul
    a
      position: relative
      z-index: 20
      &:hover
        background-color: rgba(0, 0, 0, 0) !important
.dropdown-content
  background-color: $background-color
  color: $background-color-30
  top: 28px !important
  padding-top: 36px
  width: 18% !important
  right: 20px !important
  left: auto !important
  z-index: 10
.username-nav
  padding: 15px
  color: $gold-color
.drop-arrow
  color: $gold-color
  transform: scale(1)
  transition: 0.5s
.drop-arrow:hover
  color: $gold-color
  transform: scale(2)
  transition: 0.2s
.search-bar:hover
  background-color: $background-color-30
  transition: 0.2s
.chip
  background-color: $background-color-50
  color: $background-color-30
  // border: 1px solid $gold-color
.dropdown-content li > a
  color: $gold-color
.brand-logo
  color: $gold-color!important
  font-size: 1.5rem!important

.loutre_harmoniciste
  overflow: hidden
