.recap-univers
  background-color: $background-color-30
  background-image: $gradiant-primary-color
  color: #FFF
  .card-title
    // white-space: nowrap
  .univers-content
    text-align: center
    .recap-line
      display: flex
      gap: 8px
      align-items: center
      .univers-name
        white-space: nowrap
      .dashline
        width: 100%
        flex-grow: 1
        border-bottom: 1px dashed white
