.primary_bg{
  background-color: $primary-color !important;
}
.primary_bg-light{
  background-color: $primary-color-light !important;
}
.primary_bg-dark{
  background-color: $primary-color-dark !important;
}
.secondary_bg{
  background-color: $secondary-color !important;
}
.secondary_bg-light{
  background-color: $secondary-color-light !important;
}
.secondary_bg-dark{
  background-color: $secondary-color-dark !important;
}
.tertiary_bg{
  background-color: $tertiary-color !important;
}
.tertiary_bg-light{
  background-color: $tertiary-color-light !important;
}
.tertiary_bg-dark{
  background-color: $tertiary-color-dark !important;
}
.quaternary_bg{
  background-color: $quaternary-color !important;
}
.quaternary_bg-light{
  background-color: $quaternary-color-light !important;
}
.quaternary_bg-dark{
  background-color: $quaternary-color-dark !important;
}
.gold_bg{
  background-color: $gold-color !important;
}
.gold_bg-light{
  background-color: $gold-color-light !important;
}
.gold_bg-dark{
  background-color: $gold-color-dark !important;
}
.shine_bg{
  background-color: $shine-color !important;
}
.shine_bg-light{
  background-color: $shine-color-light !important;
}
.shine_bg-dark{
  background-color: $shine-color-dark !important;
}

//\\//

.primary_text{
  color: $primary-color !important;
}
.primary_text-light{
  color: $primary-color-light !important;
}
.primary_text-dark{
  color: $primary-color-dark !important;
}
.secondary_text{
  color: $secondary-color !important;
}
.secondary_text-light{
  color: $secondary-color-light !important;
}
.secondary_text-dark{
  color: $secondary-color-dark !important;
}
.tertiary_text{
  color: $tertiary-color !important;
}
.tertiary_text-light{
  color: $tertiary-color-light !important;
}
.tertiary_text-dark{
  color: $tertiary-color-dark !important;
}
.quaternary_text{
  color: $quaternary-color !important;
}
.quaternary_text-light{
  color: $quaternary-color-light !important;
}
.quaternary_text-dark{
  color: $quaternary-color-dark !important;
}
.gold_text{
  color: $gold-color !important;
}
.gold_text-light{
  color: $gold-color-light !important;
}
.gold_text-dark{
  color: $gold-color-dark !important;
}
.shine_text{
  color: $shine-color !important;
}
.shine_text-light{
  color: $shine-color-light !important;
}
.shine_text-dark{
  color: $shine-color-dark !important;
}
