$primary-color: #40011E;
$secondary-color:#8C031C;
$tertiary-color: #8C0368;
$quaternary-color: #8124BF;

$gold-color: #BF9B30;
$shine-color: #BFA27E;

// $septenary-color: #fff;
// $octonary-color: #fff;
// $nonary-color: #fff;
// $denary-color: #fff;
