$primary-color: #8124BF;
$dark-primary-color: darken($primary-color, 20%) !default;




$background-color: #2A2E32;

$background-color-70: #34383C;

$background-color-50: #5C6064;

$background-color-30: #c0c3c7;

$gold-color: #C09B2F;

$shine-color: #C0A27E;
$shiny-shine-color: lighten($shine-color, 15%) !default;

$white-color: #DFE0E0;

// $septenary-color: #fff;
// $octonary-color: #fff;
// $nonary-color: #fff;
// $denary-color: #fff;

$gradiant-primary-color: linear-gradient(165deg, $background-color-70, $dark-primary-color);

body {
  background:$background-color
}
