$primary-color: #8124BF;

$background-color: #2A2E32;

$background-color-70: #34383C;

$background-color-50: #5C6064;

$background-color-30: #c0c3c7;

$gold-color: #C09B2F;

$shine-color: #C0A27E;

// $septenary-color: #fff;
// $octonary-color: #fff;
// $nonary-color: #fff;
// $denary-color: #fff;
