$primary-color: #8124BF !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: #8C031C !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;

$tertiary-color: #8C0368 !default;
$tertiary-color-light: lighten($tertiary-color, 15%) !default;
$tertiary-color-dark: darken($tertiary-color, 15%) !default;

$quaternary-color: #8124BF !default;
$quaternary-color-light: lighten($quaternary-color, 15%) !default;
$quaternary-color-dark: darken($quaternary-color, 15%) !default;

$gold-color: #C09B2F !default;
$gold-color-light: lighten($gold-color, 15%) !default;
$gold-color-dark: darken($gold-color, 15%) !default;

$shine-color: #C0A27E !default;
$shine-color-light: lighten($shine-color, 15%) !default;
$shine-color-dark: darken($shine-color, 15%) !default;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: $gold-color !default;
